<%- include("header") -%>
<h1 >This is Conway Game of Life</h1>
<h2 style="text-align: left; color: white; background-color: black;  " > <div>
    The Game of Life is played on an infinite two-dimensional rectangular grid of cells. Each cell can be either alive or dead. The status of each cell changes each turn of the game (also called a generation) depending on the statuses of that cell's 8 neighbours. Neighbours of a cell are cells that touch that cell, either horizontal, vertical, or diagonal from that cell.

</div> 
<div>
    The initial pattern is the first generation. The second generation evolves from applying the rules simultaneously to every cell on the game board, i.e. births and deaths happen simultaneously. Afterwards, the rules are iteratively applied to create future generations. For each generation of the game, a cell's status in the next generation is determined by a set of rules. 
</div>
    
   <div>
    These simple rules are as follows:
   </div>
    1.)If the cell is alive, then it stays alive if it has either 2 or 3 live neighbours.<br>
    2.)If the cell is dead, then it springs to life only in the case that it has 3 live neighbours.
    
</h2>
<div style="width: 30%; "><button class="buttton_nav" onclick="parent.location='https://radiant-reaches-56703.herokuapp.com'"  >Back To Game</button></div>

    </div>
<%- include("header") -%>